.close-button {
    color: black;
    border-left: 1px solid red;
    border-right: 1px solid red;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: 5px;
    top: 0;
    left: 98.5%;
    font-size: 18px;
}

.close-button:hover {
    color: #f00;
}

.message-text {
    display: inline-block;
    margin-right: 10px;
    padding-right: 30px;
}

.firstmessage {
    width: 50%;
    height: 10rem;
    border: 2px solid aquamarine;
    background-color: rgba(255, 255, 0, 0.552);
    margin: 2rem;
    font-size: 18px;
}

.secondmessage {
    width: 50%;
    height: 10rem;
    border: 2px solid aquamarine;
    background-color: rgba(255, 255, 0, 0.552);
    margin: 2rem;
    font-size: 18px;
}